.about-wrapper {
  background-color: rgb(216, 203, 179);
}

.about-title {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.info-container {
  background-color: rgb(218, 226, 205);
  box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.75);
  margin: 12px 0;
  border: 1px solid black;
  border-radius: 12px;
  border: 7px ridge #C0C0C0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  height: fit-content;
}

.profile-pic {
  width: 80%;
  max-height: 35vh;
  border-radius: 50%;
}

.link-imgs {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.fa-github {
  font-size: 5em;
  color: black;
}
.fa-linkedin {
  font-size: 5em;
  color: #0072b1;
}

@media only screen and (min-width: 700px) {
  .about-wrapper {
    height: 100vh;
  }
  .info-container > h2 {
    font-size: 1.7rem;
  }
  .info-section {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .info-container {
    width: 29vw;
    height: 60vh;
    justify-content: space-between;
  }
}