.activityBack {
  background-image: url("../Images/landingback.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
.eachActv {
  background-color: rgb(216, 203, 179);
  height: fit-content;
}
.activityBack h1 {
  font-size: 60px;
  font-family: "Concert One", cursive;
  text-align: center;
  font-weight: 900;
  color: rgb(60, 57, 57);
  padding-top:5vh;
}
a{
  color: purple;
  text-align: center;
}
/* @media only screen and (max-width: 600px) {
  .blocks {
    display: flex;
    flex-direction: column;
  }
  .activityBack h1 {
    font-size: 40px;
  }
} */
