.activityBack {
  background-image: url("../Images/landingback.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  position: relative;
}
.eachActv {
  background-color: rgb(241, 223, 226);
}
.activityBack h1 {
  font-size: 60px;
  font-family: "Concert One", cursive;
  text-align: center;
  font-weight: 900;
  color: rgb(60, 57, 57);
}
.linkName {
  color: purple;
}
