.body-container {
  background-image: url("../Images/backForFlights.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.body-container h3 {
  font-size: 24px;
  margin-bottom: 5px;
}

.title {
  color: white;
  font-size: 86px;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
  font-family: "Concert One", cursive;
}

.flights-form {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.flights-form > * {
  margin: 5px;
}

/* .flights-form > input {
  width: 30%;
  border: none;
  font-size: 20px;
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
} */

.flights-form input {
  height: 38px;
  width: 30vw;
  font-size: 20px;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  /* box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75); */
}

/* .flights-form button {
  border: none;
  border-radius: 0 15px 15px 0;
  border-left: 2px solid rgb(171, 167, 167);
  box-shadow: 10px 10px 25px 0px rgba(0, 0, 0, 0.75);
} */

.airlineInput.airlineInput {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  height: 40px;
  border-radius: 15px 0 0 15px;
  width: 35vw;
  border: none;
  font-size: 20px;
}

#root
  > div
  > div
  > div.body-container
  > form
  > div.airlineInput.css-2b097c-container
  > div
  > div.css-g1d714-ValueContainer
  > div.css-1uccc91-singleValue {
  text-align: center;
}

#root
  > div
  > div
  > div.body-container
  > form
  > div.airlineInput.css-2b097c-container
  > div
  > div.css-g1d714-ValueContainer {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  text-align: center;
  height: 39px;
  border-radius: 15px 0 0 15px;
  width: 30vw;
  border: none;
  font-size: 20px;
  align-items: center;
  align-content: center;
}

.flights-form input:nth-child(2) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: 2px solid rgb(171, 167, 167);
}
.flights-form input:nth-child(1) {
  text-align: center;
}

.mag-img {
  width: 26px;
}

.sort-btn {
  color: white;
  padding: 8px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow: 4px 4px 13px 0px rgba(0, 0, 0, 0.75);
  background-color: black;
  transition: all ease 0.2s;
}

.sort-btn:active {
  transform: translateY(4px);
}

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  width: 80%;
  overflow-y: scroll;
}

.flight-table {
  margin-top: 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.flight-table td,
.flight-table th {
  text-align: center;
  padding: 8px 12px;
}

.flight-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 18px;
}

.flight-table thead th {
  color: #ffffff;
  background: rgb(172, 124, 172);
}

.flight-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.flight-table tr:nth-child(even) {
  background: #f8f8f8;
}
#buttonF {
  margin-top: 10px;;
  height: 40px;
  background-color: white;
}
.flights-form input {
  width: 15vw;
}

/* #root > div > div > div.body-container > form > div.airlineInput.css-2b097c-container{
  width:30vw;
  border-radius: 15px 0 0 15px;
  border: none;
  font-size: 20px;
} */
#formDate {
  display: flex;
  height: 39px;
}
@media only screen and (max-width: 600px) {
  .table-wrapper {
    max-width: 92vw;
    width: fit-content;
  }
  .flights-form input {
    width: 30vw;
  }
  .flight-table {
    max-width: 50%;
    width: 50%;
    white-space: wrap;
  }

  /* #root > div > div > div.body-container > form > div.airlineInput.css-2b097c-container{
    width:60vw;
    border-radius: 15px 0 0 15px;
    border: none;
    font-size: 20px;
  } */

  .flights-form {
    flex-direction: column;
    align-items: center;
  }

  #root
    > div
    > div
    > div.body-container
    > form
    > div.airlineInput.css-2b097c-container
    > div
    > div.css-g1d714-ValueContainer {
    width: 200px;
  }

  .airlineInput.airlineInput {
    width: 60vw;
  }
}
