
@media only screen and (min-width: 550px){
.home1 {
  background-image: url("../Images/homeBack2.jpg");
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:5%;
  background-color: red;
}

.weather-map {
  margin:auto;
  align-self: center;
  width: 100%;
}
.map {
  width:100%;
  border: 5px solid lightblue;
  max-height: 60%;
  margin-left: auto;
  margin-right: auto;
}
}
  .home1 {
    background-image: url("../Images/homeBack2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
  }

  .weather-map {
    margin: 10px;
    padding: 0;
    width:100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
  }
  .map {
    left:0;
    max-width: 100%;
    max-height: 50%;
  }



