.hotelBack {
  background-image: url("../Images/hotel2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.findButton {
  display: block;
  padding: 20px 40px;
  margin: auto;
  font-size: 60px;
  font-family: "Concert One", cursive;
  text-align: center;
  font-weight: 900;
  color: white;
  margin: 14vh 0 8vh;
}
.allLists {
  border-radius: 20px;
  background-color: rgb(202, 161, 192);
  text-align: center;
  padding: 30px;
}

.hotel-table td {
  width: fit-content;
}
.form label {
  font-size: 30px;
  font-weight: 500;
  margin: auto 80px;
  font-family: "Concert One", cursive;
}
.form input {
  font-size: 25px;
  border-radius: 20px;
  padding: 5px 5px;
  text-align: center;
  font-weight: 900;
  align-items: center;
}
.hotel-table {
  text-align: center;
  font-size: 25px;
  margin: 5px 0 0 5px;
}
.table-data {
  width: 120px;
}
.submit {
  font-weight: 700;
  text-align: center;
  margin: 0 94px;
}
.tableName {
  width: 600px;
}
.tableAddress {
  width: 280px;
}
.buttonHotel {
  font-size: 30px;
  border-radius: 20px;
  padding: 5px 5px;
  font-weight: 700;
  font-family: "Concert One", cursive;
}
.table-data input {
  width: 100px;
  color: pink;
}
.hotel-table tr:nth-child(odd) {
  background-color: rgb(247, 230, 232);
}
.hotel-table tr:nth-child(even) {
  background-color: rgb(244, 239, 240);
}
.pics {
  color: purple;
  text-decoration: none;
  list-style: none;
}
.spinner {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .findButton {
    font-size: 50px;
    margin: 14vh 0 8vh;
  }
  .hotel-table td {
    width: fit-content;
    text-align: center;
    font-size: 15px;
  }
  .table-data {
    width: 30px;
    text-align: center;
    font-size: 18px;
    border: none;
  }
  .tableAddress {
    width: 14px;
    text-align: center;
    border: none;
  }
  .tableName {
    width: 12px;
    text-align: center;
    border: none;
    width: fit-content;
  }
  .hotel-table {
    font-size: 16px;
    text-align: center;
    min-width: 100%;
  }
  .table-data input {
    width: 10px;
  }
  .buttonHotel {
    font-size: 18px;
    padding: 5px;
  }
  .buttons2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .price {
    font-size: 16px;
    margin: 5px;
  }
  .allLists {
    padding: 15px;
  }
  .id {
    width: 5px;
  }
  .findButton {
    font-size: 36px;
  }
  .linkHotel {
    width: fit-content;
  }
}
