.full-container-itin {
  top: 1;
  right: 0;
  position: absolute;
  z-index: 1;
  color: white;
}
.mainTable {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: 100%;
  color: black;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(235, 225, 232);
  padding-top: 10px;
}
.smallTable {
  border-bottom: black;
  border-collapse: collapse;
  border-radius: 5px;
  width: fit-content;
}

.smallTable > * {
  border-collapse: collapse;
  border-radius: 20px;
}

.smallTable > * > * {
  padding: 3px;
}

.full-container-itin h2 {
  top: 0;
  font-size: 1.5em;
  font-weight: 700;
}
.drop {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px;
}

.drop button {
  width: 40px;
  margin: 10px;
  border-radius: 20px;
  outline: none;
  height: 40px;
  background-color: white;
}
.mainTable th {
  font-size: 18px;
  text-decoration: underline;
}
.smallTable td {
  width: 14vw;
}
.emailForm {
  padding-top: 0.4vh;

  background-color: rgb(235, 225, 232);
  color: black;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.emailForm h4 {
  line-height: 0.1em;
}
.inputEmail {
  display: flex;
  border-radius: 20px;
  margin-bottom: 10px;
}
.deleteButton {
  width: 20px;
  padding-left: 6px;
  margin-top: 9px;
}
.text-input {
  height: 25px;
  margin-left:3%;
  width: 70%;
  font-size: 18px;
  border: 1px solid black;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.btn--submit {
  font-size: 14px;
  padding: 5px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
/* @media only screen and (min-width: 700px) {
  .full-container-itin {
    position: relative;
    right:0;
  }

  .mainTable {
    border-bottom: 1px solid black;
    width:100%;
    background-color: rgb(205, 219, 228);

  }
  .smallTable {
    border-bottom: black;
  }
  .full-container-itin h2 {
    top:0;
    font-size: 20px;
  }
  .drop {
    display: flex;
    padding: 0 5px;
  }
  .drop button {
    width: 40px;
    margin: 10px;
  }
  .mainTable th {
    font-size: 18px;
  }
} */
