* {
  font-family: 'Times New Roman', Times, serif;
}
label{
  display: block;
}

label{
  padding-bottom:5px;
  margin-left: 5px;
  font-size: 1.3em;
  color:white;
  font-weight: 700;
}

.landingStart {
  background-image: url("../Images/beach-sunset.jpg");
  background-position: center;
  background-size: cover;
  height: 650px;
  padding-top: 50px;
  position: relative;
}
.landingMiddle {
  background-image: url("../Images/landingback.jpg");
  padding-top: 50px;
}
.landingMiddle2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
}
.landingText img {
  width: 180px;
  margin-bottom: 20px;
}
.landingText {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  font-size: 20px;
}
.landingText p {
  width: 260px;
  text-align: center;
  line-height: 1.5em;
}
.landingText:nth-child(odd) {
  align-self: flex-start;
}

.landingText:nth-child(even) {
  align-self: flex-end;
}
.landingMiddle h1 {
  font-size: 50px;
  text-align: center;
  padding: auto;
  padding: 20px auto 0;
  font-weight: 300;
  color: rgb(85, 81, 81);
}
.landingStart2 {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}
.landingStart2 h1 {
  font-size: 90px;
  padding: 0 15px;
  color: rgb(231, 238, 241);
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.landingStart2 input {
  padding: 5px;
  border-radius: 20px;
  font-size: 25px;
  margin: 2px;
  transition: all ease 0.5s;
}
.landingStart2 input:focus {
  background-color: rgb(199, 227, 245);
  outline: none;
}
.landingStart2 button {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 25px;
  color: rgb(85, 81, 81);
  background-color: rgb(199, 227, 245);
}
.midd {
  margin: 0 0 50px 0;
  padding: 0;
}

@media only screen and (max-width: 769px) {
  .landingStart {
    width: 100%;
    height: 60%;
    margin: 0;
    padding: 0;
  }
  .landingStart2 h1 {
    line-height: 1em;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
    padding: 0;
    margin: 20px 0 50px;
    text-align: center;
  }
  .landingStart2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landingStart2 input {
    text-align: center;
    width: 75%;
    margin: 7px;
    border-radius: 20px;
    transition: all ease 0.5s;
  }
  .landingStart2 input:focus {
    background-color: rgb(199, 227, 245);
    outline: none;
  }
  .landingStart2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
  }
  .landingStart2 form button {
    border-radius: 10px;
    box-shadow: 1px 8px 14px 1px rgba(0,0,0,0.75);
    text-align: center;
    font-family: "Concert One", cursive;
    margin: 30px 0;
    font-weight: 900;
    padding: 5px 10px;
    transition: all ease 0.3s;
  }
  .landingMiddle h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1em;
  }
  .landingMiddle2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
  .landingText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0 10px;
    font-size: 30px;
  }
  .landingText:nth-child(odd) {
    align-self: center;
  }
  .landingText:nth-child(even) {
    align-self: center;
  }
  .landingText p {
    text-align: center;
    font-size: 24px;
  }
  .midd {
    margin: 0 0 20px 0;
    padding: 0;
  }
  .landingMiddle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
