/* .hotelBackg {
  background-image: url("../Images/landingback.jpg");
  background-position: 0 0;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-repeat: repeat;
  padding-top: 50px;
  position: relative;
}
.imagesRoom {
  border-radius: 40px;
  padding: 15px;
  margin: auto 360px;
}
.room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.room h1 {
  font-size: 60px;
  font-family: "Concert One", cursive;
  line-height: 1em;
  text-align: center;
  margin: auto;
  padding: auto;
  font-weight: 900;
} */

.hotelBackg {
  background-image: url("../Images/landingback.jpg");
  background-position: 0 0;
  min-width: 100%;
  min-height: 100%;
  background-position: 0 0;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.room h1 {
  line-height: 1.2em;
  padding: 10px;
  font-size: 8vw;
  font-family: "Concert One", cursive;
  text-align: center;
}

.imagesRoom {
  border-radius: 10vw;
  width: 90%;
  text-align: center;
  padding: 5%;
}

@media only screen and (min-width: 1200px) {
  .room h1 {
    line-height: 1.2em;
    padding: 2vw 5vw;
    font-size: 4vw;
    font-family: "Concert One", cursive;
    text-align: center;
  }
  .imagesRoom {
    width: 60%;
    text-align: center;
    padding: 3% 20%;
  }
}
