.nav {
  width: 100%;
  overflow-x: hidden;
}

.activityImages {
  width: 33vw;
  height: 33vh;
}
#imgActivities {
  display: flex;
  justify-content: space-evenly;
  height: 33vh;
  max-width: 100%;
  overflow-x: scroll;
}

.businessDisplay {
  text-align: center;
}

.reviewsDisplay {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh;
}

#container {
  background-color: rgb(216, 203, 179);
}
.businessName {
  margin-top: 3vh;
  font-family: "Concert One", cursive;
  font-size: 3.5em;
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .reviewsDisplay {
    flex-direction: column;
  }

  .activityImages {
    height: 22vh;
  }
}
