.weather-wrapper {
  background-color: rgb(165, 210, 244);
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  margin: 45px 0 0 0;
  box-shadow: 10px 10px 17px -4px rgba(0, 0, 0, 0.75);
  padding: 10px 35px;
}

.split-sections {
  display: flex;
}

.weather-imgs {
  width: 100px;
}

.weather-info p {
  font-size: 18px;
}

.weather-title {
  font-size: 42px;
}


@media only screen and (max-width: 700px) {

  .split-sections {
    display: flex;
    flex-direction: column;
  }
  .weather-title {
    margin: 0;
  }
  .weather-wrapper {
    padding: 15px;
    text-align: center;
    margin: 95px 15px 60px;
  }
}


